nzb.${DOMAIN} {
    proxy / nzbget:6789 {
        transparent
    }
    tls ${ADMIN_EMAIL}
    import basicauth.conf
}

torrent.${DOMAIN} {
    rewrite / /web/

    rewrite / {
        regexp "((style|javascript|images).*)"
        to /web/{1}
    }

    proxy / transmission:9091 {
        transparent
    }

    tls ${ADMIN_EMAIL}
    import basicauth.conf
}

tv.${DOMAIN} {
    proxy / sonarr:8989 {
        transparent
    }

    tls ${ADMIN_EMAIL}
    import basicauth.conf
}

jackett.${DOMAIN} {
    proxy / jackett:9117 {
        transparent
    }

    tls ${ADMIN_EMAIL}
    import basicauth.conf
}

movies.${DOMAIN} {
    proxy / radarr:7878 {
        transparent
    }

    tls ${ADMIN_EMAIL}
    import basicauth.conf
}

request.${DOMAIN} {
    proxy / ombi:3579 {
        transparent
        websocket
    }

    tls ${ADMIN_EMAIL}
}

