nzb.burba.io {
    proxy / host:6789 {
        transparent
    }
    tls admin@samburba.com
    import basicauth.conf
}

torrent.burba.io {
    rewrite / /web/

    rewrite / {
        regexp "((style|javascript|images).*)"
        to /web/{1}
    }

    proxy / host:9091 {
        transparent
    }

    tls admin@samburba.com
    import basicauth.conf
}

tv.burba.io {
    proxy / host:8989 {
        transparent
    }

    tls admin@samburba.com
    import basicauth.conf
}

jackett.burba.io {
    proxy / host:9117 {
        transparent
    }

    tls admin@samburba.com
    import basicauth.conf
}

movies.burba.io {
    proxy / host:7878 {
        transparent
    }

    tls admin@samburba.com
    import basicauth.conf
}

request.burba.io {
    proxy / host:3579 {
        transparent
        websocket
    }

    tls admin@samburba.com
}


portainer.burba.io {
    proxy / host:9000 {
        transparent
    }

    tls admin@samburba.com
}
