nzb.${DOMAIN} {
    proxy / host:6789 {
        transparent
    }
    tls ${ADMIN_EMAIL}
    import basicauth.conf
}

torrent.${DOMAIN} {
    rewrite / /web/

    rewrite / {
        regexp "((style|javascript|images).*)"
        to /web/{1}
    }

    proxy / host:9091 {
        transparent
    }

    tls ${ADMIN_EMAIL}
    import basicauth.conf
}

tv.${DOMAIN} {
    proxy / host:8989 {
        transparent
    }

    tls ${ADMIN_EMAIL}
    import basicauth.conf
}

jackett.${DOMAIN} {
    proxy / host:9117 {
        transparent
    }

    tls ${ADMIN_EMAIL}
    import basicauth.conf
}

movies.${DOMAIN} {
    proxy / host:7878 {
        transparent
    }

    tls ${ADMIN_EMAIL}
    import basicauth.conf
}

request.${DOMAIN} {
    proxy / host:3579 {
        transparent
        websocket
    }

    tls ${ADMIN_EMAIL}
}


portainer.${DOMAIN} {
    proxy / host:9000 {
        transparent
    }

    tls ${ADMIN_EMAIL}
}
